.navbar-nav>li>a{
    text-shadow: 2px 1px black !important;
}

.navbar-brand > img{
    height:80px;
}

.navbar-shrink > .container > .navbar-header > .navbar-brand > img {
    width:80px;
}

.modal-image {
    max-width:100%;
    display:block;
    max-height:750px !important;
    margin:auto;
}
